@import "tailwindcss";

:root {
  --color-primary: #ff2442;
  --color-secondary: #fb7299;
  --color-background: #fff7f8;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

body {
  background-color: var(--color-background);
  min-height: 100vh;
}
